 body{
    background-color: black;
    justify-content: center;
    box-sizing: border-box;
}

div.Keyboard {
    width: 730px;
    height: 280px;
    background-color: white;
    margin-left: 20%;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
}

.keypad1{
    padding-left: 90px;
    margin-top: 200px;
    position: absolute;
}

.keypad2{
    padding-left: 190px;
    margin-top: 200px;
}


.keypad3{
    padding-left: 100px;
    margin-top: 200px;
}

.keypad4{
    padding-left: 60px;
    margin-top: 200px;
}

.keypad5{
    padding-left: 80px;
    margin-top: 200px;
}

.keypad6{
    padding-left: 90px;
    margin-top: 200px;
}

.keypad7{
   padding-left: 100px;
   margin-top: 200px;
}

.vline1{
 height: 300px;
 width: 50px;
 position: absolute;
 cursor: pointer;
 left: 39.5%;
 top: 15.5%;
 border-left: 4px solid black;
}

.vline2{
    height: 300px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    left: 32.5%;
    top: 15.5%;
    border-left: 4px solid black;
   }

   .vline3 {
    height: 300px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    left: 47.5%;
    top: 15.5%;
    border-left: 4px solid black;
   }

   .vline4{
    height: 300px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    left: 54%;
    top: 15.5%;
    border-left: 4px solid black;
   }

   .vline5{
    height: 300px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    left: 61.5%;
    top: 15.5%;
    border-left: 4px solid black;
   }

   .vline6{
    height: 300px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    left: 69%;
    top: 15.5%;
    border-left: 4px solid black;
   }

.smallkey1{
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 30.2%;
    top: 13.5%;
    cursor: pointer;
    border-left: 6px solid;

}

 .smallkey2 {
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 37.5%;
    top: 13.5%;
    cursor: pointer;
}

.smallkey3 {
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 52%;
    top: 13.5%;
    cursor: pointer;
}

.smallkey4 {
    height: 200px;
    width: 50px;
    background-color: black;
    position: absolute;
    left: 59.5%;
    top: 13.5%;
    cursor: pointer;
}

.smallkey5 {
      height: 200px;
      width: 50px;
      background-color: black;
      position: absolute;
      left: 66.9%;
      top: 13.5%;
      cursor: pointer;
}
